* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-size: 10px;
}
@font-face {
    font-family: "Unbounded";
    src: url("../fonts/Unbounded-VariableFont_wght.ttf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Inter Tight";
    src: url("../fonts/InterTight-VariableFont_wght.ttf");
    font-weight: normal;
    font-style: normal;
}


section {
    width: 100vw;
    background-color: rgba(17, 17, 17, 1);

}


p {
    font-family: "Inter Tight", Helvetica, sans-serif;
    font-size: 14pt;
    line-height: 3rem;
}

h1 {
    font-family: "Unbounded" , "Times New Roman", serif;
    font-size: 54pt;
    font-weight: 200;
    letter-spacing: 1pt;

}

h2 {
    font-family: "Unbounded" , "Times New Roman", serif;
    font-size: 30pt;
    font-weight: 200;
}

nav ul{
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(24,1fr);
    grid-template-rows: 6.7rem 6.7rem ;
    padding: 4.8em 9.5em;
}

nav ul li {
    border: 2px solid white;
    padding-bottom: 3em;
    padding-top: 2.5em;
    text-align: center;
}

table {
    table-layout: fixed;
    border: 2px solid white;
    border-collapse: collapse;
}

th{
    padding: 4.3em 0 5.37em 5.1em;
    border: 2px solid white;

}


td{
    padding: 3.6em 7.3em 4.7em 5.1em;
    border: 2px solid white;

}


a {
    
}
.navigation-bar-link {
    font-family: "Inter Tight", Helvetica, sans-serif;
    font-size: 12pt;
    font-weight: 500;
    text-decoration: none;
}

.navigation-bar-link:link {

}
.navigation-bar-link:visited {

}
.navigation-bar-link:focus {

}
.navigation-bar-link:hover {

}
.navigation-bar-link:active {

}

.text-gradient {
    background: linear-gradient(91.17deg, #C6F1F7 -4.01%, #F983E9 36.14%, #B877FF 77.44%, #C2E9CD 106.11%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.wavy-overline {
    font-size: inherit;
    text-decoration: overline;
    text-decoration-color: plum;
    text-decoration-style: wavy;
    text-decoration-thickness: 0.3rem;
}
.wavy-underline {
    font-size: inherit;
    text-decoration: underline wavy plum 0.3rem;
}

/* --------------------------------------------------------Top Section--------------------------------------------------*/
.top-section {
    background: no-repeat url("../images/background-1.webp");
    background-size: cover;
    display: grid;
    grid-template-rows: 1fr 1fr 0.5fr 1.5fr ;
}

#logo {
    grid-column: 1 / 9;
    grid-row: 1 / 3;
    padding: 5em 0;
}
#logo div {
    
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#logo-slogan {
    font-family: "Unbounded" , 'Times New Roman', serif;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.1;
}
#language-icon {
    grid-column: -1 / -2;
    border-bottom: 0;
    border-left: 0;
}
#about {
    grid-column: 9/12;
    border-bottom: 0;
    border-left: 0;
}
#services {
    grid-column: 12/17;
    border-bottom: 0;
    border-left: 0;
}
#cases {
    grid-column: 17/21;
    border-bottom: 0;
    border-left: 0;
}
#team {
    grid-column: 21/24;
    border-bottom: 0;
    border-left: 0;
}
#boost-program {
    grid-column: 9/15;
    border-left: 0;
}
#product {
    grid-column: 15/19;
    border-left: 0;
}
#book {
    grid-column: 19/22;
    border-left: 0;
}
#blog {
    grid-column: 22/26;
    border-left: 0;
}


.greeting-text {
    grid-row: -1/-2;
    margin-left: 10em;
    margin-right: 12em;
    margin-bottom: 9.2em;
    margin-top: 4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#text-2023 {
    font-size: 2.7em;
    font-weight: 100;
}

#star-shape {
        margin-bottom: 2.1em;
}

.date {
    grid-row: 3/4;
    font-family: "Unbounded" , 'Times New Roman', serif;
    margin-left: 9.5em;
}
.date span:last-child {
    display: inline-block;
    font-size: 1.2em;
    margin-left: 2.5em;
}


.greeting-text h1 {
    display: inline;
}

#small-tip {
    font-family: "Unbounded", "Times New Roman", serif;
    font-size: 1.6em;
    line-height: 1.5em;
    display: inline-block;
    padding-left: 4.5em;
}

.slogan {
    grid-row: -1;
    background-color: rgba(0,0,0,70%);
    
}
.slogan ul {
    display: flex;
    align-content: center;
}
.slogan li {
    flex:1;
    font-family: "Unbounded" , Helvetica, serif;
    font-size: 1.5rem;
    list-style-type: none;
    border-bottom: 2px solid white;
    padding-bottom: 2.3rem;
    margin: 8rem;
}

/* --------------------------------------------------------Second Section--------------------------------------------------*/
.second-section{
    padding: 10.4em 10.9em 6.2em 6.9em;
}

.second-section > div{
    display: grid;
    grid-template-columns: 1.26fr 1.63fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1.3fr;
    grid-template-areas: 
    "little top-paragraph . ."
    "big big big ."
    "stars down-paragraph . pic" 
    ;
    
}

.london {
    font-family: "Inter Tight" , Helvetica, sans-serif;
    font-size: 12pt;
    padding-bottom: 4em;
    grid-area: little;
    display: flex;
    align-items: flex-end;
}

.second-section .top-text {
    grid-area: top-paragraph;
    
}
.second-section .bottom-text {
    grid-area: down-paragraph;
}

.second-section h1{
    grid-area: big;
}

#card-image{
    grid-area: pic;
}

#three-stars {
    grid-area: stars;
    display: flex;
    align-items: flex-end;
}


/* --------------------------------------------------------Third Section--------------------------------------------------*/
.third-section {
    padding: 9.6em;
}

.third-section > div {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-template-areas: 
    "one two"
    "three four"
    ;
    
}
.third-section span {
    display: block;
    font-family: "Unbounded" , Helvetica, serif;
    font-size: 40pt;
    font-weight: light;
    margin-bottom: 3.8rem;
    margin-top: 10.3rem;
}
.third-section p {
    width: 27.6em;
    height: 5.1em;
}
.third-section > div div {
    padding: 10.3rem 0 4.5rem 4.8rem;

}

.third-section > div div:nth-child(1){
    grid-area: one;
    background: url("../images/card-background-one.webp");
}

.third-section > div div:nth-child(2){
    grid-area: two;
    background: url("../images/card-background-two.webp");

}

.third-section > div div:nth-child(3){
    grid-area: three;
    background: url("../images/card-background-three.webp");

}

.third-section > div div:nth-child(4){
    grid-area: four;
    background: url("../images/card-background-four.webp");

}

/* --------------------------------------------------------4th Section--------------------------------------------------*/
.fourth-section {
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: 0.7fr 1fr 1fr;
    grid-template-areas: 
    "big big big"
    "little text1 text2"
    "star sphere-t sphere-t"
    ". text3 .";
    padding: 3.4em 9.5em ;
}

.fourth-section h1 {
    grid-area: big;
    margin-bottom: 8.3rem;
}
.fourth-section .london {
    grid-area: little;
    display: flex;
    align-items: flex-start;
}
#text1 {
    grid-area: text1;
    padding-right: 10.9em;
}
#text2 {
    grid-area: text2;
}
.fourth-section img[ alt="star-shape" ] {
    grid-area: star;
    align-self: end;
    margin-bottom: 3.5em;
}
#spheres-table {
    grid-area: sphere-t;
    margin: 3.5em 0;
}

#spheres-table th{
    text-align: left;
}


#text3 {
    grid-area: text3;
}

/* --------------------------------------------------------5th Section--------------------------------------------------*/
.with-background-fourth-section {
    background: url("../images/background-2.webp");
    background-size: cover;
    padding: 8.4em 17.6em 6.4em 9.5em;
    display: grid;
    grid-template-areas: 
    "top top"
    "big paragraph";
    grid-auto-columns:1fr ;
    grid-auto-rows: auto;
}
#lets-text {
    grid-area: top;
    display: flex;
    flex-flow: row-reverse;
    justify-content: space-between;
    margin-bottom: 31.3em;
}
#lets-text span{
    font-family: "Inter Tight", Helvetica, sans-serif;
    font-size: 12pt;
    display: inline-block;
    margin-right: 10.8em;
}


.with-background-fourth-section h1 {
    grid-area: big;
}
.with-background-fourth-section p {
    grid-area: paragraph;
    width: 70%;
    justify-self: end;
    align-self: end;
  
}

.no-background-fourth-section {

    padding: 10em 9.5em 13em;
    display: flex;
    gap: 5em;
}
.no-background-fourth-section div {
    flex:1;
}

/* --------------------------------------------------------6th Section--------------------------------------------------*/
/* no style */